<div style="text-align: center;"></div>
<div class="menu">
  <div class="WikiCustomNav WikiElement wiki">
    <span class="toc-header">Summary Documentation</span><br />
    <ul>
      <li><a href="index.html" class="wiki_link">Overview</a></li>
      <li><a href="api-index.html" class="wiki_link">API Index</a></li>
    </ul>
    <div class="ProjectTOC">
      <span class="toc-header">Project Documentation</span>
      <ul id="left-sidebar-list">
        <li><a class="wiki_link" href="link target">Project name</a></li>
      </ul>
    </div>
    <a class="wiki_link" href="http://clojure.org">Clojure Home</a>
  </div>
</div>
