<h1 id="toc0">Clojure Core and Contrib API Overview</h1>
<br />
<div id="Overview">
This page documents the various projects in the Clojure organization including the 
core Clojure libraries and the various contributed libraries.
<p>
Each project entry has a link to the project's own API documentation page that has complete
documentation for that API.
<p>
The <a id="index-link" href="api-index.html">API index</a> has a complete, alphabetized 
index of all the functions in the various projects.
<p>
These projects are made available under the 
<a href="http://opensource.org/licenses/eclipse-1.0.php">Eclipse Public License (EPL)</a>.  
They are copyright 2008-2011 by Rich Hickey and the various contributors. 
<p>
<strong>Note:</strong> Not all the projects in Clojure are currently documented on these 
pages. Please see <a id="org-link" href="https://github.com/clojure">https://github.com/clojure</a>
for the full repository of projects under the Clojure umbrella.
</div>
<br />
<div class="project-entry">
  <br />
  <hr />
  <h2 class="project-tag">Project</h2>
  <span class="project-description">project description here</span><br />
  <a class="api-link" href="target">Project API Overview</a><br />
  <div class="namespace-entry">
    <h4 class="namespace-name"><a href="link">Namespace</a></h4>
    <span class="author-line">by <span class="author-name">the author</span><br /></span>
    <pre class="namespace-docstr">docstr here</pre>
    <span class="ns-added"><span id="content">Added in Clojure 1.1</span><br /></span>
    <span class="ns-deprecated"><span id="content">Deprecated since Clojure 1.1</span><br /></span>
  </div>
</div>
